body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav Bar */
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #285943;
}
  
li 
{
    float: right;
}
  
li a 
{
    font-size: 20px;
    display: block;
    color: #D7FFF1;
    text-align: center;
    padding: 16px 22px;
    text-decoration: none;
}
  
.hover a:hover 
{
    background-color: #183A37;
}
/* post form container */
#Post-container
{
    margin: 0;
    padding: 100px 100px;
}
h1
{
    text-align: center;
    margin-top: 0;
    color: #AAFCB8; 
    font-size: 50px;
}
/* post form */
.post 
{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    width: 50%;
    margin: auto;
    margin-top: 60px;
}
/* input text fields */
input[type=text] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 30px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number]
{
    width: 8%;
    padding: 2px 5px;
    margin: 8px;
}

input[id=time]
{
    margin: 8px 0 30px 0;

}

textarea[id=description]
{
    padding: 2px 5px;
    margin: 1px;
}

.center 
{
    margin: auto;
    width: 100%;
    clear: both;
    padding: 50px 50px;
    margin-bottom: 0px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}
/* button field */
input[type=submit] 
{
    width: 35%;
    background-color: rgb(24, 105, 99);
    color: white;
    padding: 14px 18px;
    font-size: 14px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s;
}

input[type=submit]:hover 
{
    background-color: #183A37;
}

